.example-card {
  max-width: 400px;
  margin: 10px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.delete-button{
  background-color: #EA4A0B;
  color: white;

}

.delete-icon{
  color: white;
}

.update-button{
  background-color: #60A990;
  margin-left: 15px;
  color: white;

}

.update-icon{
  color: white;
}
