<app-navbar></app-navbar>
<div class="settings-container">
  <h1>Settings</h1>
  <div class="setting">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
  </div>
  <div class="setting">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
  </div>
  <div class="setting">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email">
  </div>
  <div class="setting2">
    <label for="notifications">Enable Notifications:</label>
    <input type="checkbox" id="notifications" name="notifications">
  </div>
  <button class="save-button">Save Changes</button>
</div>
